<!DOCTYPE html>
<html>
<head>
  <title>Example 1 about Vue Class</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="partial" id="main">
    <h2>v-bind:class</h2>
    <nav v-bind:class="active" v-on:click.prevent>
      <a href="" class="home" v-on:click="makeActive('home')">Home</a>
      <a href="" class="about" v-on:click="makeActive('about')">About</a>
      <a href="" class="ex" v-on:click="makeActive('ex')">Ex</a>
      <a href="" class="menu" v-on:click="makeActive('menu')">Menu</a>
    </nav>
    <p>You chose <b>{{active}}</b></p>
  </div>
  <div class="partial" id="main2" v-on:click="hideInput">
    <h2>v-model</h2>
    <div v-on:click.stop v-if="checkInput">
      <input type="text" class="input-text" v-model="text_content">
    </div>
      <p v-on:click.stop="toggleInput">{{text_content}}</p>
  </div>
  <div class="partial" id="main3">
    <h2>v-for & fill data</h2>
    <div class="service-box">
      <h2>SERVICES</h2>
      <ul>
        <li v-for="item in services" class="service-item" v-on:click="toggle(item)" v-bind:class="{'actived': item.active}">
           {{item.content}} 
           <span>{{item.price | currency}}</span>
        </li>
      </ul>
      <h2>Total:
        <span>{{total() | currency}}</span>
      </h2>
    </div>
  </div>
  <div class="partial" id="main4">
    <h2>Last Example</h2>
    <div class="service-box nav-list">
      <div class="list-grid">
        <a class="list" v-on:click="layout = 'list'">1</a>
        <a class="grid" v-on:click="layout = 'grid'">2</a>
      </div>
      <ul v-if="layout == 'list'">
        <li v-for="a in news" class="list-item" >
          <a v-bind:href="a.link"> 
            <img v-bind:src="a.picture" alt="" class="aside-img">
            <p>{{a.content}}</p>
          </a>
        </li>
      </ul>
      <ul v-if="layout == 'grid'">
        <li v-for="a in news" class="list-item-grid" >
          <a v-bind:href="a.link"> 
            <img v-bind:src="a.picture" alt="" class="center-img">
          </a>
        </li>
      </ul>
    </div>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
<script type="text/javascript">
  var demo = new Vue({
    el: '#main',
    data: {
      active: 'home'
    },
    methods: {
      makeActive: function(item){
        this.active = item;
      }
    } 
  });

  var demo2= new Vue({
    el: '#main2',
    data:{
      text_content: 'Click here and edit me',
      checkInput: false  
    },
    methods: {
      toggleInput: function(){
        this.checkInput= !this.checkInput;
      },
      hideInput: function(){
        if(this.checkInput==true) {
          this.checkInput=false;
        }
      }
    }
  })

  Vue.filter('currency', function(value) {
    return '$' + value;
  })
  var demo3 = new Vue({
    el: '#main3',
    data: {
      services: [
        {
          content: 'Web Dev',
          price: 300,
          active: true
        },
        {
          content: 'Design',
          price: 400,
          active: false
        },
        {
          content: 'Intergration',
          price: 250,
          active: false
        },
        {
          content: 'training',
          price: 300,
          active: false
        }
      ]
    },
    methods: {
      toggle: function(s){
        s.active = !s.active;
      },
      total: function(){
        var total = 0;
        this.services.forEach(function(s){
          if (s.active) {
            total += s.price;
          }
        });
        return total;
      }
    }
  });

  var demo4 = new Vue({
    el: '#main4',
    data: {
      layout: 'list',
      news: [
        {
          link: "1",
          content: "123123",
          picture: "https://pickaface.net/gallery/avatar/myspacedixson5247bbe83039a.png"
        },
        {
          link: "2",
          content: "123",
          picture: "https://pickaface.net/gallery/avatar/myspacedixson5247bbe83039a.png"
        },
        {
          link: "3",
          content: "123213",
          picture: "https://pickaface.net/gallery/avatar/myspacedixson5247bbe83039a.png"
        },
        {
          link: "4",
          content: "aaaaaaa",
          picture: "https://pickaface.net/gallery/avatar/myspacedixson5247bbe83039a.png"
        },
        {
          link: "5",
          content: "vvvvvvvvvv",
          picture: "https://pickaface.net/gallery/avatar/myspacedixson5247bbe83039a.png"
        },
        {
          link: "6",
          content: "zzzzzzzzzz",
          picture: "https://pickaface.net/gallery/avatar/myspacedixson5247bbe83039a.png"
        }
      ]
    }
  });
</script>
</html>